# 复制为 deployment.test1.env，填写密码；三个数据库参数均在此配置。
NUZAR_DB_URL='jdbc:oceanbase://127.0.0.1:2883/ekbdb?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&zeroDateTimeBehavior=convertToNull&autoReconnect=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC'
NUZAR_DB_USERNAME='app_user@tenant'
NUZAR_DB_PASSWORD=''
SERVER_PORT=8080
LOG_PATH="${APP_HOME}/logs"
JAVA_OPTS='-Xms256m -Xmx512m'
# 填写该环境实际 JDK 8 安装目录，例如 /opt/jdk1.8.0_422；留空使用 PATH。
JAVA_HOME=""
